/*generelt*/

.splash {

    display: flex;
    justify-content: space-between;

}

.splash div {

    flex-basis: 200px;
    flex-grow: 1;


}


img {
    width: 100%;


}

.column img {
    width: 100%;
    padding: 1.5vw;
}

body {
    font-family: roboto;
    background-color: #c6ffff;
    margin-top: 4vw;

}


h1,
h2 {
    display: flex;
    justify-content: center;

}

p {
    padding: 0vw 5vw 3vw 5vw;
}

iframe {
    margin: 3vw;
}



/*links på siderne*/

/* unvisited link */
a:link {
    color: blue;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: blue;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #c58fd1;
    text-decoration: none;
}


/*navigationsbaren*/

#navbar {
    font-family: 'Staatliches', cursive;

    background-color: #c58fd1;
    width: 100%;
    position: fixed;
    top: 0;

}

/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}


/* tema1 knap */
.knap {
    background-color: #c58fd1;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Staatliches', cursive;
    cursor: pointer;
}

/* <div> - skal have en position */
.tema1 {
    position: relative;
    display: inline-block;
}

/* når dropdown er nede og man ikke holder på et link */
.tema1-content {
    display: none;
    position: absolute;
    background-color: #c58fd1;
    z-index: 1;
}

/* Links inden i dropdown  */
.tema1-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}


/* dropdown kommer ned som blokke */
.tema1:hover .tema1-content {
    display: block;
}

/* farve på linksene når man holder musen over */
.tema1:hover .knap {
    background-color: #f0abee;
}

/*tema2*/
.tema2 {
    position: relative;
    display: inline-block;
}


.tema2-content {
    display: none;
    position: absolute;
    background-color: #c58fd1;
    z-index: 1;
}


.tema2-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}


.tema2-content a:hover {
    background-color: #f0abee;
}


.tema2:hover .tema2-content {
    display: block;
}


.tema2:hover .knap {
    background-color: #f0abee;
}

/*tema3*/
.tema3 {
    position: relative;
    display: inline-block;
}


.tema3-content {
    display: none;
    position: absolute;
    background-color: #c58fd1;
    z-index: 1;
}


.tema3-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}


.tema3-content a:hover {
    background-color: #f0abee;
}


.tema3:hover .tema3-content {
    display: block;
}


.tema3:hover .knap {
    background-color: #f0abee;
}

/*tema4*/

.tema4 {
    position: relative;
    display: inline-block;
}


.tema4-content {
    display: none;
    position: absolute;
    background-color: #c58fd1;
    z-index: 1;
}


.tema4-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}


.tema4-content a:hover {
    background-color: #f0abee;
}


.tema4:hover .tema4-content {
    display: block;
}


.tema4:hover .knap {
    background-color: #f0abee;
}


/*content og column*/

.columncv img {


    width: 200px;
    height: 200px;

}

.columnapp img {

    padding: 4vw;
    width: 150px;
    height: 190px;

}

.columnproto img {

    padding: 4vw;
    width: 190px;
    height: 230px;

}


.columnhvid {
    background-color: aliceblue;

}

.columnforside {
    background-color: aliceblue;
    padding: 8vw 15vw 0vw 15vw;


}

.column {

    justify-content: center;

    margin: 3vw;
}

.columndoku {

    justify-content: center;

    margin: 3vw 3vw 8vw 3vw;






}


.content1 {
    justify-content: center;
    display: flex;


}

.content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}



/*media @*/

@media only screen and (max-width:1000px) {

    .content1 {
        flex-wrap: wrap;

    }
}

@media only screen and (max-width:580px) {

    body {
        margin-top: 9vw;

    }
}

@media only screen and (max-width:436px) {

    body {
        margin-top: 0.5vw;

    }
}


@media only screen and (max-width:1336px) {

    body {
        margin-top: 3vw;

    }
}

@media only screen and (max-width:936px) {

    body {
        margin-top: 5vw;

    }
}

@media only screen and (max-width:671px) {

    body {
        margin-top: 15vw;

    }
}



@media only screen and (max-width:439px) {

    h1 {
        margin-top: 30vw;

    }
}


@media only screen and (max-width:400px) {

    .columncv {
        width: 200px;
        height: 200px;
        justify-content: center;

    }
}

@media only screen and (max-width:512px) {

    embed {
        height: 90vw;
        width: 90vw;

    }
}

@media only screen and (min-width:1128px) {

    #plante1 {

        width: 15vw;
        height: 25vw;
        position: absolute;
        left: 0.7vw;
        top: 63vw
    }
}

@media only screen and (min-width:1128px) {

    #plante2 {

        width: 15vw;
        height: 25vw;
        position: absolute;
        left: 78vw;
        top: 63vw
    }
}

@media only screen and (min-width:1128px) {

    .columnforside {

        padding-bottom: 10vw;
    }
}

@media only screen and (min-width:1340px) {

    .body {

        margin: 1vw;
    }
}

@media only screen and (max-width:561px) {

    iframe {

        width: 90vw;
        height: 90vw;

    }
}



/*javascript*/

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.hide {
    display: none;
}

/*svg*/

#velkommen {
    background-image: url("pics/Artboard%201.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 42vw;
    height: 32vw;
    position: absolute;
    left: 29vw;
}

#plante1 {
    background-image: url("pics/art%201.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 30vw;
    position: absolute;
    left: 0.7vw;



}

#plante2 {
    background-image: url("pics/art%202.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 30vw;
    position: absolute;
    left: 78vw;

}

#tryk {

    background-image: url("pics/tryk.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 8vw;
    position: absolute;

    left: 39vw;
    z-index: 1;
    cursor: pointer;


}

#goddag {

    background-image: url("pics/goddag.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25vw;
    height: 8vw;
    position: absolute;

    left: 39vw;
    z-index: 1;



}
